.button-container{
    gap: 0.5em;
}

@media screen and (max-width:578px) {
    .button-container{
        align-items: start !important;
    }
}
                                            /* Change Password */
            
.admin-change-password-memberId-box{
    gap: 0.1em;
}

.change-password-info-first-content{
    width: 16%;
    padding-left: 0;
    text-align: start;
}
@media screen and (max-width:900px) {
    .change-password-info-first-content,.change-password-second-content{
        width:  50%;
    }
    .change-password-memberId-input{
        width:  48%;
    }   
    .change-password-memberId-input{
        width:  40% !important;
    }
}
.change-password-second-content:nth-child(2)
{
    white-space: nowrap;
}

.change-password-second-content{
    border-bottom: 1px solid grey;
}
