.button-container{
    gap: 0.5em;
}

@media screen and (max-width:578px) {
    .button-container{
        align-items: start !important;
    }
}
                                            /* Change Password */
            
.admin-select-tag{
    border-radius: 8px;
    padding: 0.3em 0.5em;
}
.admin-change-password-memberId-box{
    gap: 0.1em;
}

.change-password-info-first-content{
    width: 16%;
    padding-left: 0;
    text-align: start;
}
.change-password-second-content,.change-password-memberId-input
{
    border: 1px solid rgba(138, 167, 167, 0.575);
    border-radius: 5px;
    padding: 0.35em 0.7em ;
    min-width: 25%;
}
@media screen and (max-width:768px) {
    .admin-change-password-info-box,.admin-change-password-memberId-box{
        flex-direction: column;
        justify-content: start;
        align-items: start !important;
        gap: 0.7em;
        width: 100%;
    }
    .change-password-info-first-content,.change-password-second-content, .change-password-memberId-input{
        width:  100% !important;
        min-width: 100%;
    }
    

}
@media screen and (max-width:900px) {
    .change-password-info-first-content,.change-password-second-content{
        width:  50%;
    }
    .change-password-memberId-input{
        width:  48%;
    }   
    .change-password-memberId-input{
        width:  40% !important;
    }
}
.change-password-second-content:nth-child(2)
{
    white-space: nowrap;
}

.change-password-second-content{
    min-height: 35px;
}