.container {
    display: flex;
    z-index: 1000;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.icon-container {
    gap: 5px;
}
.dashboard-area {
    padding-left: 16rem;
    transition: padding-left 0.3s ease;
  }

.dashboard-area-2{
    align-content: space-between;
    flex-wrap: wrap !important;
    min-height: 90vh;
    overflow: auto;
  }
  
  .sidebar:not(.open) + .dashboard-area {
    padding-left: 6rem;
  }
  
  @media screen and (max-width: 767px) {
    .dashboard-area {
      padding-left: 5rem;
    }
  
  }
  
  

.component-1{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.component-2{
    display: flex;
    justify-content: center;
}

.custom-span{
    text-decoration: underline white;
    color: black;
}

  