.logout-home-container{
position: absolute;
border-radius:7px;
padding: 0em 0.3em;
right: 0px;
// bottom: -85px;
top: 40px;
transition:0.4s;
max-height: 0px ;
// border: 1px solid blue;
overflow: hidden;
z-index: 1000;
}
 .logout-home-container-visible{
padding: 0.7em 0.3em;
// right:-5px !important;
// bottom:-85px !important;
max-height: 150px ;
}

.home-link,.logout-link{
    color: black;
    cursor: pointer !important;
}
.home-link:hover{
    color: rgb(27, 69, 207);
}
.logout-link:hover{
    color: rgb(27, 69, 207);
}
