.share-holder-column-input{
    border: none !important;
    /* border-bottom: 2px solid grey !important; */
    outline: none !important;
    width: 100%;
    font-size: 1.1em;
}
.first-column{
    font-size: 1.1em;
}
.share-holder-column-input:focus{
    outline: none !important;
}
.share-holder-column-input::-webkit-inner-spin-button,.share-holder-column-input::-webkit-outer-spin-button,.share-holder-column-input::-webkit-calendar-picker-indicator{
    display: none;
}
/* .table-row-class{
    border:1px solid black !important;
} */
.table-heading{
    border:1px solid black !important;
    vertical-align: middle !important;
    text-align: center;
}
.table-row,.table-data{
    border:1px solid black !important;
}
@media print {
    .print-btn, .member-id-input-box{
            display: none !important;
    }   
    .for-table-print{
            margin: 0 1em;
            /* border: 1px solid black !important; */
    }
    .for-table-print:nth-child(2){
        margin: 0  1em !important;
    }
    .BPC-Employee-heading-box{
        padding-top: 0.3em;
    }
    .table-row,.table-data{
        border:1px solid black !important;
    }
   

    
}
