$data-table-width-mobile: 30rem;
$data-table-width-tablet: 65rem;
$data-table-width-desktop: 75rem;

.data-table-interest {
  overflow: auto;

  /* Add any other default styles for your data table here */

  @media (min-width: 768px) and (max-width: 1024px) {
    width: $data-table-width-tablet;
  }

  @media (min-width: 1025px) and (max-width: 1249px) {
    width: $data-table-width-tablet;
  }

  @media (min-width: 1250px) {
    width: $data-table-width-desktop;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width: $data-table-width-mobile;
  }

  @media (max-width: 599px) {
    width: $data-table-width-mobile;
  }
}
